---
import Layout from "../../layouts/Layout.astro";
const allPosts = Object.values(import.meta.glob("./*.md", { eager: true }));
---

<Layout>
  <h1>Blog</h1>
  <ul>
    {/* TODO: Make into a contect collection */}
    {allPosts.map((post: any) => <li>{post.frontmatter.title}</li>)}
  </ul>
</Layout>
