---
import Layout from "../layouts/Layout.astro";
import { getStaticPaths } from "./[...slug].astro";

// Maybe this is silly maybe not. Probably makes more sense with content collections
const allPaths = await getStaticPaths();
const allPosts = allPaths.map((path) => ({
  href: path.params.slug,
  frontmatter: path.props.post.frontmatter,
}));
---

<Layout>
  <h1>Blog</h1>
  <p>
    {JSON.stringify(allPosts)}
  </p>
  <ul>
    {/* TODO: Make into a contect collection */}
    {
      allPosts.map((post: any) => (
        <li>
          <a href={post.href}>{post.frontmatter.title}</a>
        </li>
      ))
    }
  </ul>
</Layout>
