---
import Signature from "./Signature.astro";
const today = new Date();
---

<footer class="text-center p-4 mt-16">
  <p
    class="text-zinc-700 dark:text-zinc-400 flex justify-center items-center gap-2"
  >
    <Signature />
    <span class="ml-2">&copy;</span>
    <span>{today.getFullYear()}</span>
  </p>
</footer>
