---
import Footer from "../components/Footer.astro";
import GlobalStyles from "../components/GlobalStyles.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>My Blog in Astro</title>
  </head>
  <body class="flex flex-col justify-between align-stretch min-h-screen">
    <GlobalStyles />
    <slot />
    <Footer />
  </body>
</html>
